.player
    background: pink
    height: 40vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    text-align: center

    .time-control
        display: flex